<%= form_for [@image, @comment] do |f| %>

  <p>
    <%= f.label :content %><br>
    <%= f.text_field :content, :rows => 10, :cols => 40 %>
  </p>
  <p>
    <%= f.submit "Add Comment" %>
  </p>
<% end %>
